.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    z-index: 1001;
    position: relative;
}

.modal-input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.cancel-button,
.create-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
    color: white;
}

.cancel-button:hover {
    background-color: #a3a3a3;
}

.create-button {
    background-color: #577bbf;
    color: white;
}

.create-button:hover {
    background-color: #405a8e;
}
.add-shoppinglist-button {
    background-color: #577bbf;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-shoppinglist-button:hover {
    background-color: #405a8e;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.add-shoppinglist-button:active {
    background-color: #2e4266;
    transform: translateY(0);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.add-shoppinglist-button:disabled {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
    box-shadow: none;
}